<%- include('../partials/header') %>

  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs</th>
        <th>Destinations</th>
        <th>Tickets</th>
      </tr>
    </thead>
    <tbody>
      <% flight.forEach( f => { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><%= f.destinations %></td>
          <td><%= f.tickets %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<br><br>

<%- include('../partials/footer') %>