<%- include('../partials/header') %>

  <h1>Flights List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.forEach( f => { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><%= f.arrival %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<br><br>
    <a href="/new">Add a flight</a>

<%- include('../partials/footer') %>